<!DOCTYPE html>
<html xmlns="http://www.w3.org/199/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragment/header::header-section}">
    <title>Login</title>
    <meta charset="UTF-8">
</head>
<body>
<form method="POST" th:action="@{/login}">
    <div class="container d-flex justify-content-center align-items-center min-vh-100">
        <div class="row border rounded-5 p-3 bg-white shadow box-area">
            <div class="col-md-6 rounded-4 d-flex justify-content-center align-items-center flex-column left-box"
                 style="background: #103cbe;">
                <div class="featured-image">

                </div>
                <p class="text-white fs-2" style="font-family: 'Courier New', Courier, monospace; font-weight: 600;">
                    [[#{login.welcome}]]</p>
                <small class="text-white text-wrap text-center"
                       style="width: 17rem;font-family: 'Courier New', Courier, monospace;">[[#{login.phrase}]]</small>
            </div>
            <div class="col-md-6 right-box">
                <div class="row align-items-center">
                    <div class="header-text mb-4">
                        <p>[[#{login.welcome}]]</p>
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control form-control-lg bg-light fs-6" name="username" th:placeholder="#{login.username}">
                    </div>
                    <div class="input-group mb-1">
                        <input type="password" class="form-control form-control-lg bg-light fs-6"
                               name="password" th:placeholder="#{login.password}">
                    </div>
                    <div class="input-group mb-3">
                        <input type="submit" class="btn btn-lg btn-primary w-100 fs-6" th:value="#{login.button}"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="~{fragment/footer::footer-section}">Footer</div>
</form>
</body>
</html>
