<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragment/header::header-section}">
    <title>Title</title>
</head>
<body>
<div th:replace="~{fragment/navbar::navbar-section}">Navbar</div>
<div class="d-flex">
    <div class="col-sm-5">
        <div class="card">
            <div class="card-header">Customer Form</div>
            <div class="card-body">
                <div>
                    <form action="/searchCustomer" method="GET" class="row g-3">
                        <div class="col-auto">
                            <input type="text" class="form-control" name="idCustomer" id="idCustomer" placeholder="0000">
                        </div>
                        <div class="col-auto">
                            <button type="submit" class="btn btn-primary">Search</button>
                        </div>
                        <div class="col-auto">
                            <a th:href="@{/addCustomer}" class="btn btn-outline-info">Add</a>
                        </div>
                        <div th:with="customer= ${session.get('customer')}">
                            <input class="form-control" type="text" th:value="${customer.idCustomer}" required readonly
                                   id="customerId">
                            <input class="form-control" type="text"
                                   th:value="${customer.name} + ' ' + ${customer.lastName}" required readonly>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">Product Form</div>
            <div class="card-body">
                <form th:action="@{/searchProduct}" method="get">
                    <div class="row g-3 me-3">
                        <div class="col-auto">
                            <label for="code" class="visually-hidden">Code</label>
                            <input type="text" class="form-control" id="code" name="idProduct" placeholder="Code"/>
                        </div>
                        <div class="col-auto">
                            <button type="submit" class="btn btn-primary mb-3">Search</button>
                        </div>
                        <div class="col-auto">
                            <button th:href="@{/addProduct}" class="btn btn-outline-info mb-3">Add</button>
                        </div>
                    </div>
                </form>
                <form th:action="@{/addCart}" method="get">
                    <div class="row g-3 me-3" th:with="product = ${session.get('product')}">
                        <div class="col-auto">
                            <input class="form-control" type="text" placeholder="Name" readonly
                                   th:value="${product.name}" name="name" id="name" required/>
                        </div>
                        <div class="col-auto">
                            <input class="form-control" type="number" placeholder="Price" readonly
                                   th:value="${product.price}" name="price" id="price" required/>
                        </div>
                    </div>
                    <div class="row g-3 me-3">
                        <div class="col-auto">
                            <br/>
                            <input class="form-control" type="number" step="any" placeholder="Amount" name="amount"
                                   id="amount"/>
                        </div>
                        <div class="col-auto">
                            <br/>
                            <input type="submit" class="btn btn-primary mb-3" onclick="return validation();"
                                   value="Add Cart"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-7">
        <div class="card">
            <div class="card-body">
                <div class="d-flex">
                    <p th:text="${#temporals.format(localDate, 'MM-yyyy')}"></p>
                </div>
                <br>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Precio</th>
                        <th>Cant</th>
                        <th>SubTotal</th>
                        <th>Acciones</th>
                    </tr>
                    </thead>
                    <tbody th:with="salesDetails = ${session.get('detailsList')}">
                    <tr th:each="saleDetails, status : ${salesDetails}">
                        <td th:text="${status.index + 1}">#</td>
                        <td th:text="${saleDetails.product.name}"></td>
                        <td th:text="${saleDetails.product.price}"></td>
                        <td th:text="${saleDetails.amount}"></td>
                        <td th:text="${saleDetails.subTotal}"></td>
                        <td>
                            <a th:href="@{/deleteCart/{id}(id=${status.index})}"
                               class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                <form th:action="@{/saveSale}" method="get">
                    <input type="submit"
                           class="btn btn-outline-success" onclick="return validarFormulario();" value="Save Sale"/>
                </form>
                <a href="#"
                   class="btn btn-outline-danger">Cancel</a>
            </div>
        </div>
    </div>
</div>
<script src="js/script.js"></script>
<!-- Modal -->

<!-- Modal -->
<div th:replace="~{fragment/footer::footer-section}">Footer</div>
</body>
</html>