<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragment/header::header-section}">
    Header
</head>
<body>
<div th:replace="~{fragment/navbar::navbar-section}">Navbar</div>
<div class="container">
    <b>User : <span sec:authentication="name"></span></b>
    <b>Roles : <span sec:authentication="principal.authorities"></span></b>
</div>
<div th:replace="~{fragment/footer::footer-section}">Footer</div>
</body>
</html>