<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragment/header::header-section}">
</head>

<body>
    <div th:replace="~{fragment/navbar::navbar-section}">Navbar</div>
    <div class="container">
        <div class="container text-center" style="margin:30px">
            <h3>Update Customer</h3>
        </div>
        <div class="container text-center">
            <div class="row">
                <div class="col">
                </div>
                <div class="col">
                    <form th:action="@{/customers/update}" th:object="${customer}" method="POST">
                        <div class="mb-3">
                            <label for="idCustomer" class="form-label">Id Card</label>
                            <input type="text" class="form-control" id="idCustomer" name="idCustomer" required="true"
                                th:field="*{idCustomer}" readonly>
                        </div>
                        <div class="mb-3">
                            <label for="name" class="form-label">Name</label>
                            <input type="text" class="form-control" id="name" name="name" required="true"
                                th:field="*{name}" data-transform="uppercase">
                        </div>
                        <div class="mb-3">
                            <label for="lastName" class="form-label">Last Name</label>
                            <input type="text" class="form-control" id="lastName" name="lastName" required="true"
                                th:field="*{lastName}" data-transform="uppercase">
                        </div>
                        <div class="mb-3">
                            <label for="address" class="form-label">Address</label>
                            <input type="text" class="form-control" id="address" name="address" th:field="*{address}"
                                data-transform="uppercase">
                        </div>
                        <div class="mb-3">
                            <label for="phone" class="form-label">Phone</label>
                            <input type="text" class="form-control" id="phone" name="phone" th:field="*{phone}">
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary me-3">Update</button>
                            <a href="/customers" class="btn btn-warning">Back</a>
                        </div>
                    </form>
                </div>
                <div class="col"></div>
            </div>
        </div>
    </div>
    </div>
    <div th:replace="~{fragment/footer::footer-section}">Footer</div>
</body>

</html>